/* formatos.css */

/* Estilos globais */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8d7da; /* Mesma cor de fundo usada em receitas.html */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #444; /* Cor de fundo padronizada */
    color: white; /* Cor do texto padronizada */
    padding: 15px 0;
}

.logo {
    width: 80px; /* Tamanho padronizado do logotipo */
    height: 80px;
    object-fit: cover;
}

/* Nav Menu */
.nav-item .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-item .nav-link:hover {
    color: #ff7f50;
}

/* Footer */
footer {
    background-color: #343a40; /* Cor de fundo padronizada */
    color: white; /* Cor do texto padronizada */
    padding: 20px 0;
    text-align: center;
}

.footer-section h3::after {
    content: " ↗";
    font-size: 12px;
    color: #ff7f50;
}

.footer-section p, .footer-section ul {
    color: #ccc;
    font-size: 1rem;
    line-height: 1.5;
}

.footer-section ul li::before {
    content: "• ";
    color: #ff7f50;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    border-top: 1px solid #555;
    padding-top: 20px;
    color: #aaa;
}

.footer-bottom::before {
    content: "© ";
    color: #ff7f50;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
